body {
  background-color: #fff;
  color: #4b7ed6;
  /* font-family: ""; */
}

.vc_title {
  font-family: pf-fuel-grime, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  @apply text-vc26-blue mb-2;
}
