body {
  background-color: #fff;
  color: #2780e6
  /*color: #386634;*/
  /* font-family: ""; */
  /*background-color: #fff;*/
  /*color: #386634;*/
  /* font-family: ""; */
}

.vc_title {
  font-family: pf-fuel-grime, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  @apply text-vc26-blue mb-2;
}

/* O seletor #bm garante que essa regra seja mais forte que a do Mantine */
#bm .nav-link-azul-26, 
#bm a { 
  color: #0058f3; 
}

#bm a:hover {
  color: #0F3ADA;
}
